html{
  scroll-behavior: smooth;
}
:root{
  --colorBrand: #044e7d;
  --colorBrand2: #0874b3;
  --colorBrand3: #38b5fe;
  --blueGreen: #2999b1;
  --negroTransparente: rgba(0, 0, 0, 0.5);
  --roboto:'Roboto', sans-serif;
  --monserat:'Montserrat', sans-serif; 
  --poppins: 'Poppins', sans-serif;
}
main{
  /* background-color: #fff; */
}
nav{
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--colorBrand);
  display: grid;
  align-content: center;
}
nav > .left-nav{
  
  padding: 5px 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
}
nav > .left-nav > .left-nav-item{
  padding: 0;
  position: relative;
  color: #fff;
  text-align: center;
}
nav > .left-nav > .left-nav-item:hover{
  background-color: var(--blueGreen);
}
nav > .left-nav > .left-nav-item > img{
  height: 39px;
}
nav > .left-nav > .left-nav-item:last-of-type i{
  transform: rotateY(180deg);
}
nav > .left-nav > .left-nav-item span{
  display: block;
  font-size: 10px;
}
nav > .left-nav > .left-nav-item > a{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#cover > .carousel > a{
  z-index: 3;
}

#cover > .carousel > .img-container > img{
  width: 150px;
}
#cover > .carousel > .img-container{
  z-index: 4;
  position: absolute;
  top: 10px;
  left: 10px;
}

#cover > .carousel > .overlay-carousel{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: grid;
  grid-template-columns: minmax(300px, 768px);
  justify-content: center;
  justify-items: center;
  align-content: center;
  background-color: var(--negroTransparente);
}
#cover > .carousel > .overlay-carousel > h1{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 34px;
}
#cover > .carousel > .overlay-carousel > .container-buttons{
  justify-content: center;
  width: 320px;
}
#cover > .carousel > .overlay-carousel > .container-buttons > a{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #fff;
  border: 3px solid #2999b1;
  /* border-radius: 10px; */
}
#cover > .carousel > .carousel-inner > .carousel-item{
  height: calc(100vh - 49px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#cover > .carousel > .carousel-inner > .carousel-item:nth-of-type(1){
  background-image: url(../img/cover1.jpg);
  /* background-image: url(../img/pexels-photo-123335.jpeg); */
}
#cover > .carousel > .carousel-inner > .carousel-item:nth-of-type(2){
  background-image: url(../img/cover2.jpg);
}
#cover > .carousel > .carousel-inner > .carousel-item:nth-of-type(3){
  background-image: url(../img/cover3.jpg);
}

#nosotros{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  text-align: justify;
}
#nosotros > .nosotros-main{
  align-self: center;
}
#nosotros > .nosotros-main p{
  font-size: 22px ;
  text-align: justify;
  color: var(--secondary);

}
#nosotros > .nosotros-values{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
#nosotros > .nosotros-values > div{
  display: grid;
  grid-template-columns: 1fr;
}
#nosotros > .nosotros-values > div:nth-of-type(1){
  background-color: var(--colorBrand3);
}
#nosotros > .nosotros-values > div:nth-of-type(2){
  background-color: var(--colorBrand2);
}
#nosotros > .nosotros-values > div:nth-of-type(3){
  background-color: var(--colorBrand);

}
#nosotros > .nosotros-values > div > .values-title{
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#nosotros > .nosotros-values > div > .values-title > h3{
  font-weight: bold;
}
#nosotros > .nosotros-values > div > p,
#nosotros > .nosotros-values > div > ul{
  list-style: none;
  margin: 0;
  font-size: 20px;
  padding: 20px 10px;
  color: #fff;
}
/*=====MENSAJE=============================*/
#mensaje > .mensaje-div{
  background-color:#0874b3;
  text-align: center;
  padding: 30px;
}

#mensaje > .mensaje-div > p{
  font-family: var(--poppins);
  color: white;
  font-size: 30px;
  font-weight: 500;
}

/*======SERVICIOS=======================*/
#servicios{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 15px;
  text-align: center;
  
  /* background-color: blueviolet; */
}
#servicios > h1{
  color: #044e7d;
  font-size:  50px;
  font-family: var(--roboto);
  font-weight: 500;
}

#servicios > .contenedor-servicios{
  display: grid;
  grid-template-columns: minmax(250px, 400px);
  grid-template-rows: repeat(2,auto);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  justify-content: center;
}
#servicios > .contenedor-servicios > div > h5{
  font-family: var(--monserat);
  font-weight: 800;
  color: #044e7d;
} 
#servicios > .contenedor-servicios > .servicios-item{
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  justify-content: center;
}

#servicios > .contenedor-servicios > .servicios-item > img{
  width: 100%;
}

@media screen and (min-width: 360px){
  
  #cover > .carousel > .overlay-carousel > h1{
    font-size: 40px;
  }

  #mensaje > .mensaje-div > p{
    font-family: var(--poppins);
    color: white;
    font-size: 20px;
    
  }
}

@media screen and (min-width: 425px){
  #nosotros > .nosotros-values > div{
    grid-template-columns: 40px 1fr;
  }
  #nosotros > .nosotros-values > div > .values-title{
    position: relative;
  }
  #nosotros > .nosotros-values > div > .values-title > h3{
    padding: 0;
    margin: 0;
  }
  #nosotros > .nosotros-values > div > .values-title > h3{
    /* height: 20px; */
    position: absolute;
    padding: 0;
    margin: 0;
    top: calc(50% - 16px);
    left: -20px;
    transform: rotateZ(-90deg);
  }
  #nosotros > .nosotros-values > div:nth-of-type(2) > .values-title > h3{
    left: -17px;
  }
  #nosotros > .nosotros-values > div:nth-of-type(3) > .values-title > h3{
    left: -25px;
  }
}

@media screen and (min-width: 515px){
  #servicios > .contenedor-servicios{
    grid-template-columns: repeat(4, minmax(50px, 170px));
  }
  #servicios > .contenedor-servicios > .servicios-item{
    grid-column: 2 span;
  }
  #servicios > .contenedor-servicios > .servicios-item:nth-of-type(5){
    grid-column: 2/4;
  }
}
@media screen and (min-width: 768px){
  #cover > .carousel > .img-container{
    top: 20px;
    left: 30px;
  }
  #cover > .carousel > .img-container > img{
    width: 200px;
  }
  #nosotros{
    grid-template-columns: 1fr .9fr;
    grid-gap: unset;
  }
  #nosotros > .nosotros-main{
    padding: 20px;
    padding-right: 40px;
  }
  #nosotros > .nosotros-values > div > p,
  #nosotros > .nosotros-values > div > ul{
    padding: 40px 20px ;
  }
  #servicios > .contenedor-servicios{
    grid-template-columns: repeat(6, minmax(50px, 100px));
  }
  
  #servicios > .contenedor-servicios > .servicios-item:nth-of-type(4){
    grid-column: 2/4;
  }
  #servicios > .contenedor-servicios > .servicios-item:nth-of-type(5){
    grid-column: 4/6;
  }
}
@media screen and (min-width: 850px){
  body{
    display: grid;
    grid-template-columns: auto 1fr; 
  }
  nav{
    position: unset;
    width: 74px;
    height: 100%;
    right: unset;
  }
  nav > .left-nav{
    grid-template-columns: 1fr;
  }
  nav > .left-nav {
    position: fixed;
    top: calc(50% - 240px);
  }
  nav > .left-nav > .left-nav-item{
    padding: 15px 3px;
  }
  nav > .left-nav > .left-nav-item > img{
    height: unset;
    width: 40px;
  }
  nav > .left-nav > .left-nav-item i{
    padding: 10.5px 0;
    width: 42px;
    height: 42px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  nav > .left-nav > .left-nav-item span{
    font-size: 16px;
    font-weight: bold;
  }

  #cover > .carousel > .carousel-inner > .carousel-item{
    height: 100vh;
  }
  #nosotros > .nosotros-main{
    padding-right: 60px;
  }
}

@media screen and (min-width: 1500px){
  #servicios > .contenedor-servicios{
    grid-template-columns: repeat(6, minmax(50px, 150px));
  }
}